@media only screen and (max-width: 1680px) {
    .cart-wrapper {
        padding: 4rem 8rem;
    }
}

@media only screen and (max-width: 1500px) {
    .cart-wrapper {
        padding: 2rem 4rem;
    }
}

@media only screen and (max-width: 720px) {
    .cart-wrapper {
        padding: 1rem 2rem;
    }
}
