@media only screen and (max-width: 1680px) {
    .header {
        padding: 1rem 8rem;
    }
}

@media only screen and (max-width: 1500px) {
    .header {
        padding: 1rem 4rem;
    }
}

@media only screen and (max-width: 720px) {
    .header {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .header-top {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .header-bottom-breadcrumbs {
        text-align: center;
    }

    .header-top-ctas, .header-bottom-navigation {
        justify-content: center;
    }
}

.logout-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logout-modal {
    max-width: 28rem;
    width: 90%;
}
