@media only screen and (max-width: 1680px) {
	.orders-wrapper {
        padding: 4rem 8rem;
    }
}

@media only screen and (max-width: 1500px) {
	.orders-wrapper {
        padding: 2rem 4rem;
    }
}

@media (max-width: 720px) {
    .orders-wrapper {
        padding: 1rem 2rem;
    }
    
    .order-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    
    .order-footer {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    
    .order-item {
        flex-direction: column;
        text-align: center;
    }
    
    .order-item img,
    .item-placeholder {
        width: 100%;
        height: 150px;
    }
    
    .pagination {
        flex-direction: column;
    }
    
    .order-detail-header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .order-item-detail {
        flex-direction: column;
        text-align: center;
    }
    
    .item-image img {
        width: 100%;
    }
}