.button-primary {
    background-color: var(--accent);
    justify-content: center;
    border-radius: 0.5rem;
    align-items: center;
    font-weight: 600;
    flex-shrink: 0;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0 0.75rem;
    display: flex;
    border: 0;
    height: 3rem;
    color: var(--tg-primary);
    gap: 0.5rem;
    &:hover {
        background-color: var(--bg-hovered);
        cursor: pointer;
    }
    &:disabled {
        background-color: var(--bg-disabled);
        border-color: var(--bg-disabled);
        cursor: not-allowed;
        color: var(--tg-disabled);
    }
}

.button-secondary {
    background-color: transparent;
    justify-content: center;
    border-radius: 0.5rem;
    align-items: center;
    font-weight: 600;
    flex-shrink: 0;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0 0.75rem;
    display: flex;
    border: 2px solid var(--bg-outline);
    height: 3rem;
    color: var(--tg-primary);
    gap: 0.5rem;
    &:hover {
        background-color: var(--bg-outline);
        cursor: pointer;
    }
    &:disabled {
        background-color: var(--bg-disabled);
        border-color: var(--bg-disabled);
        cursor: not-allowed;
        color: var(--tg-disabled);
    }
}

.button-tertiary {
    background-color: transparent;
    border-radius: 0.5rem;
    align-items: center;
    font-weight: 600;
    flex-shrink: 0;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    border: none;
    display: flex;
    color: var(--tg-secondary);
    gap: 0.25rem;
    &:hover {
        color: var(--tg-primary);
        cursor: pointer;
    }
    &:disabled {
        cursor: not-allowed;
        color: var(--tg-disabled);
    }  
}

.button-icon {
    background-color: transparent;
    border-radius: 0.5rem;
    place-content: center;
    flex-shrink: 0;
    transition: 0.25s ease all;
    display: grid;
    border: none;
    height: 2rem;
    width: 2rem;
    color: var(--tg-primary);
    &:hover {
        background-color: var(--bg-outline);
        cursor: pointer;
    }
    &:disabled {
        background-color: transparent;
        cursor: not-allowed;
        color: var(--tg-disabled);
    }
}

.button-icon_outlined {
    background-color: transparent;
    border-radius: 0.5rem;
    place-content: center;
    flex-shrink: 0;
    transition: 0.25s ease all;
    display: grid;
    border: 2px solid var(--bg-outline);
    height: 3rem;
    width: 3rem;
    color: var(--tg-primary);
    &:hover {
        background-color: var(--bg-outline);
        cursor: pointer;
    }
    &:disabled {
        background-color: var(--bg-disabled);
        border-color: var(--bg-disabled);
        cursor: not-allowed;
        color: var(--tg-disabled);
    }
}
