.footer {
    background-color: var(--bg-secondary);
    flex-direction: column;
    border-top: 1px solid var(--bg-outline);
    padding: 1rem 16rem;
    display: flex;
    gap: 1rem;
    margin-top: auto; /* Push footer to bottom */
    position: relative; /* Ensure proper positioning */
    z-index: 10; /* Ensure footer stays above content */
}

.footer-top, .footer-middle, .footer-bottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-top-logo {
    width: 8rem;
}

.footer-top-ctas {
    display: flex;
    gap: 2rem;
}

.footer-top-ctas-socials {
    display: flex;
    gap: 1rem;
}

.footer-middle {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.footer-middle-navigation {
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.footer-middle-newsletter {
    flex-shrink: 0;
    flex-direction: column;
    text-align: end;
    display: flex;
    gap: 1rem;
}

.footer-middle-newsletter-header h4 {
    font-size: 0.875rem;
    color: var(--tg-primary);
}

.footer-middle-newsletter-header p {
    font-size: 0.875rem;
    color: var(--tg-secondary);
}

.footer-bottom-copyright, .footer-bottom-credits {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--tg-secondary);
}
