.search {
    border-radius: 0.5rem;
    align-items: center;
    transition: 0.25s ease all;
    display: flex;
    padding: 0 0.75rem;
    border: 0.15rem solid var(--bg-outline);
    height: 3rem;
    color: var(--tg-primary);
    gap: 0.75rem;
}

.search:focus-within {
    background-color: var(--bg-outline);
    border-color: var(--accent);
}

.input-nested:focus {
    outline: none;
}
