{% load static %}

<header class="header">

    <div class="header-top">
        <img class="header-top-logo logo" src="{% static 'shop/images/logo-light.png' %}" alt="PaperTrail logo" />
        <div class="header-top-ctas">
            <a class="button-secondary" href="/cart">
                <i class="fa-solid fa-cart-shopping"></i>
                0 items
            </a>
            <a class="button-secondary" href="/sign-in">
                <i class="fa-solid fa-right-to-bracket"></i>
                Sign in
            </a>
            <button class="button-icon_outlined theme-switcher-btn">
                <i class="fa-solid fa-moon"></i>
            </button>
        </div>
    </div>
    <div class="horizontal-divider"></div>
    <div class="header-bottom">
        <div class="header-bottom-breadcrumbs">
            {% if breadcrumb_items %}
                <p>
                    {% for crumb in breadcrumb_items %}
                        {% if crumb.url %}
                            <a class="anchor-link" href="{{ crumb.url }}">{{ crumb.name }}</a>
                        {% else %}
                            <span>{{ crumb.name }}</span>
                        {% endif %}
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </p>
            {% else %}
                <p>Home /</p>
            {% endif %}
        </div>
        <nav class="header-bottom-navigation">
            <a class="anchor-button" href="{% url 'landing' %}">Home</a>
            <a class="anchor-button" href="{% url 'shop' %}">Our shop</a>
            <a class="anchor-button" href="{% url 'about' %}">About us</a>
            <a class="anchor-button" href="/contact-us">Contact us</a>
        </nav>
    </div>
</header>
