<div class="product_card">
    <img class="product_card-img" src="" alt="Product card image" />
        <div class="product_card-wrapper">
        <div class="product_card-info">
            <h4 class="product_card-info-label">
                Smooth Gel Pen (Black, 0.5mm)
            </h4>
            <p class="product_card-info-description">
                Quick-drying gel pen with smooth ink flow, great for writing or school use.
            </p>
        </div>
        <h3 class="product_card-price">
            PHP 25.00
        </h3>
        <div class="product_card-ctas">
            <button class="button-secondary product_card-ctas-btn">
                <i class="fa-solid fa-cart-shopping"></i>
                Add to cart
            </button>
            <button class="button-icon_outlined product_card-ctas-btn">
                <i class="fa-solid fa-square-up-right"></i>
            </button>
        </div>
    </div>
</div>