{% extends "admin/index.html" %}

{% load static %}


{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'shop/styles/admin/admin_custom.css' %}">
{% endblock %}

{% block content %}
<div id="content-main"> 
    {{ block.super }}  
    <div class="module quick-links-module">  
        <h2>Quick Links</h2>
        <div class="module-content">
            <ul class="quick-links-list">
                <li><a href="/admin/shop/product/sales-analytics/" class="button">📊 View Sales Analytics</a></li>
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}