.hero {
    background-color: var(--bg-primary);
    flex-direction: row;
    padding: 4rem 16rem;
    display: flex;
    gap: 4rem;
}

.hero-details {
    flex-direction: column;
    display: flex;
    gap: 4rem;
}

.hero-image {
    border-radius: 0.25rem;
    object-fit: cover;
    width: 24rem;
    height: 32rem;
}

.hero-details-info {
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

.hero-details-info h1 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--tg-primary);
}

.hero-details-info h2 {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--tg-secondary);
}

.hero-details-ctas {
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.shop {
    background-color: var(--bg-primary);
    flex-direction: column;
    padding: 4rem 16rem;
    display: flex;
    gap: 2rem;
}

.shop-header {
    font-weight: 700;
    font-size: 2rem;
    color: var(--tg-primary);
}

.shop-container {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.shop-sidebar {
    background-color: var(--bg-secondary);
    flex-direction: column;
    border-radius: 0.5rem;
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    padding: 1rem;
    border: 1px solid var(--bg-outline);
    gap: 1rem;
}

.shop-sidebar-header {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--tg-primary);
}

.shop-sidebar-sort_by, .shop-sidebar-categories {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

.shop-sidebar-sort_by-header, .shop-sidebar-categories-header {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--tg-primary);
}

.shop-sidebar-sort_by-options, .shop-sidebar-categories-options {
    flex-direction: column;
    display: flex;
    gap: 0.25rem;
}

.shop-sidebar-sort_by-options label, .shop-sidebar-categories-options label {
    align-self: stretch;
}

