.wrapper {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.main {
    background-color: var(--bg-primary);
    flex-direction: row;
    flex-shrink: 0;
    padding: 4rem 16rem;
    display: flex;
    width: 100%;
    flex: 1;
    gap: 4rem;
}

.main-img {
    object-position: center;
    flex-shrink: 1;
    object-fit: cover;
    min-height: 100%;
    height: 0;
    width: 100%;
}

.main-form {
    background-color: var(--bg-secondary);
    flex-direction: column;
    border-radius: 0.5rem;
    flex-shrink: 0;
    max-width: 25rem;
    padding: 3rem 2rem;
    display: flex;
    border: 1px solid var(--bg-outline);
    gap: 2rem;
}

.main-form-container {
    flex-direction: column;
    display: flex;
    height: 100%;
    gap: 2rem;
}

.main-form-info {
    flex-direction: column;
    display: flex;
}

.main-form-info-header {
    font-weight: 700;
    font-size: 2rem;
    color: var(--tg-primary);
}

.main-form-info-subheader {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--tg-secondary);
}

.main-form-group {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;
    gap: 1rem;
}

.main-form-group-container {
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

.main-form-group-input {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

.main-form-group-input-container {
    border-radius: 0.25rem;
}

.main-form-group-input label {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--tg-primary);
}

.main-form-group-input input {
    border-radius: 0.25rem;
}

.main-form-group-input-helper {
    align-self: flex-start;
    color: var(--tg-primary);
}
.main-form-group-ctas {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-form-group-ctas-btn {
    width: 100%;
}

.main-form-group-ctas-helper {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--tg-secondary);
}
