html[data-theme="dark"] {
    --accent: #CA56A3;
    --bg-primary: #1F1B1F;
    --bg-secondary: #262026;
    --bg-outline: #3A2A36;
    --bg-hovered: #8B336D;
    --bg-disabled: #33222F;
    --tg-primary: #F6DBEC;
    --tg-secondary: #C478AB;
    --tg-disabled: #5D3D52;
    --success-foreground: #7EF0B1;
    --success-background: #113E2A;
    --warn-foreground: #FFD78A;
    --warn-background: #4A3614;
    --danger-foreground: #E9204F;
    --danger-background: #4C1824;
    --error-foreground: #E9204F;
    --error-background: #4C1824;
}
