{% load static %}

<!DOCTYPE html>

<html data-theme="light" lang="en">

    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paper Trails | Your Everyday Stationery, Just a Click Away</title>
        <link rel="stylesheet" href="{% static 'shop/main.css' %}">
    
    </head>

    <body>

        <header class="header">

            <div class="header-top">
                <img class="header-top-logo" src="{% static 'shop/images/logo-light.png' %}" alt="PaperTrail logo">
                <div class="header-top-ctas">
                    <div class="button-secondary">
                        <i class="fa-solid fa-cart-shopping"></i>
                        0 items
                    </div>
                    <div class="button-secondary">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Sign in
                    </div>
                    <div class="button-icon_outlined">
                        <i class="fa-solid fa-moon"></i>
                    </div>
                </div>
            </div>
            <div class="horizontal-divider"></div>
            <div class="header-bottom">
                <div class="header-bottom-breadcrumbs">
                    <p>Home /</p>
                </div>
                <nav class="header-bottom-navigation">
                    <a class="anchor-button active" href="/">Home</a>
                    <a class="anchor-button" href="/shop">Our shop</a>
                    <a class="anchor-button" href="/about-us">About us</a>
                    <a class="anchor-button" href="/contact-us">Contact us</a>
                </nav>
            </div>

        </header>
    
    </body>

</html>