{% load static %}

<!DOCTYPE html>

<html data-theme="light" lang="en">

    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up | Paper Trails</title>
        <link rel="stylesheet" href="{% static 'shop/styles/main.css' %}">
    
    </head>

    <body>

        <div class="sign_up-wrapper">

            <section class="sign_up">

                <div class="sign_up-form">

                    <div class="sign_up-form-container">

                        <div class="sign_up-form-info">
                            <h1 class="sign_up-form-info-header">
                                Hey there!
                            </h1>
                            <h2 class="sign_up-form-info-subheader">
                                Fill in your details to create an account.
                            </h2>
                        </div>

                        <div class="sign_up-form-error" style="display: none;">
                            <i class="sign_up-form-error-icon fa-solid fa-triangle-exclamation"></i>
                            <p class="sign_up-form-error-text"></p>
                        </div>

                        <div class="sign_up-form-progress_bar">
                            <div class="sign_up-form-progress_bar-level"></div>
                        </div>

                        <form class="sign_up-form-group">

                            <div class="sign_up-form-group-container" data-step="1">

                                <div class="sign_up-form-group-horizontal">
                                    <div class="sign_up-form-group-input">
                                        <label for="first_name">First name *</label>
                                        <input class="input-unnested" name="first_name" placeholder="John Michael" type="text" required>
                                        <span class="form-input-error" style="display: none;"></span>
                                    </div>
                                    <div class="sign_up-form-group-input">
                                        <label for="last_name">Last name *</label>
                                        <input class="input-unnested" name="last_name" placeholder="Doe" type="text" required>
                                        <span class="form-input-error" style="display: none;"></span>
                                    </div>                             
                                </div>

                                <div class="sign_up-form-group-input">
                                    <label for="house_address">House address (optional)</label>
                                    <input class="input-unnested" name="house_address" placeholder="123 Sunny St., Mayers Blvd." type="text">
                                    <span class="form-input-error" style="display: none;"></span>
                                </div>

                                <div class="sign_up-form-group-input">
                                    <label for="contact_number">Contact number *</label>
                                    <input class="input-unnested" name="contact_number" placeholder="09123456789" type="tel" required>
                                    <span class="form-input-error" style="display: none;"></span>
                                </div>

                            </div>

                            <div class="sign_up-form-group-container" data-step="2" style="display: none;">

                                <div class="sign_up-form-group-input">
                                    <label for="email_address">Email address *</label>
                                    <input class="input-unnested" name="email_address" placeholder="john.doe@email.com" type="email" required>
                                    <span class="form-input-error" style="display: none;"></span>
                                </div>

                                <div class="sign_up-form-group-input">
                                    <label for="password">Password *</label>
                                    <div class="input-with-btn sign_up-form-group-input-container">
                                        <input class="input-nested" name="password" type="password" placeholder="••••••••••" required>
                                        <i class="fa-solid fa-eye-slash" data-toggle="password"></i>
                                    </div>
                                    <span class="form-input-error" style="display: none;"></span>
                                </div>

                                <div class="sign_up-form-group-input">
                                    <label for="confirm_password">Confirm password *</label>
                                    <div class="input-with-btn sign_up-form-group-input-container">
                                        <input class="input-nested" name="confirm_password" type="password" placeholder="••••••••••" required>
                                        <i class="fa-solid fa-eye-slash" data-toggle="password"></i>
                                    </div>
                                    <span class="form-input-error" style="display: none;"></span>
                                </div>

                            </div>

                            <div class="sign_up-form-group-ctas">

                                <div class="sign_up-form-group-ctas-container" data-step="1">
                                    <button class="button-icon_outlined sign_up-form-group-ctas-btn" type="reset">
                                        <i class="fa-solid fa-arrow-rotate-left"></i>
                                    </button>
                                    <button class="button-primary sign_up-form-group-ctas-btn" type="submit" disabled>
                                        Next Step
                                        <i class="fa-solid fa-circle-arrow-right"></i>
                                    </button>
                                </div>

                                <div class="sign_up-form-group-ctas-container" data-step="2" style="display: none;">
                                    <button class="button-icon_outlined sign_up-form-group-ctas-btn" type="button">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </button>
                                    <button class="button-icon_outlined sign_up-form-group-ctas-btn" type="reset">
                                        <i class="fa-solid fa-arrow-rotate-left"></i>
                                    </button>
                                    <button class="button-primary sign_up-form-group-ctas-btn" type="submit" disabled>
                                        Create my account
                                        <i class="fa-solid fa-circle-arrow-right"></i>
                                    </button>
                                </div>

                                <p class="sign_up-form-group-ctas-helper">
                                    Already have an account?
                                    <a class="anchor-link" href="/sign-in">Sign in</a>.
                                </p>
                            </div>

                        </form>

                    </div>

                </div>

                <img class="sign_up-img" src="{% static 'shop/images/auth.png' %}" alt="PaperTrail Sign Up Banner" />

            </section>

            {% include "./components/footer.html" %}

        </div>

        <script type="module" src="{% static 'shop/scripts/main.js' %}"></script>
    
    </body>

</html>
