{% load static %}

<!DOCTYPE html>

<html data-theme="light" lang="en">

    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In | Paper Trails</title>
        <link rel="stylesheet" href="{% static 'shop/styles/main.css' %}">
    
    </head>

    <body>

        <div class="sign_in-wrapper">

            <section class="sign_in">

                <div class="sign_in-form">

                    <div class="sign_in-form-container">

                        <div class="sign_in-form-info">
                            <h1 class="sign_in-form-info-header">
                                We've missed you!
                            </h1>
                            <h2 class="sign_in-form-info-subheader">
                                Sign in to your account to continue.
                            </h2>
                        </div>

                        <div class="sign_in-form-error" style="display: none;">
                            <i class="sign_in-form-error-icon fa-solid fa-triangle-exclamation"></i>
                            <p class="sign_in-form-error-text"></p>
                        </div>

                        <form class="sign_in-form-group">

                            {% csrf_token %}

                            <div class="sign_in-form-group-container">
                                
                                <div class="sign_in-form-group-input">
                                    <label for="email_address">Email address</label>
                                    <input class="input-unnested" name="email_address" placeholder="Your email address..." type="email" required>
                                </div>

                                <div class="sign_in-form-group-input">
                                    <label for="password">Password</label>
                                    <div class="input-with-btn sign_in-form-group-input-container">
                                        <input class="input-nested" name="password" type="password" placeholder="Search here..." required>
                                        <i class="fa-solid fa-eye-slash" data-toggle="password"></i>
                                    </div>
                                    <p class="anchor-link sign_in-form-group-input-helper">Forgot password?</p>
                                </div>

                            </div>

                            <div class="sign_in-form-group-ctas">
                                <div class="sign_in-form-group-ctas-container">
                                    <button class="button-icon_outlined sign_in-form-group-ctas-btn" type="reset">
                                        <i class="fa-solid fa-arrow-rotate-left"></i>
                                    </button>
                                    <button class="button-primary sign_in-form-group-ctas-btn" type="submit" disabled>
                                        Sign in to my account
                                        <i class="fa-solid fa-circle-arrow-right"></i>
                                    </button>
                                </div>
                                <p class="sign_in-form-group-ctas-helper">
                                    Don't have an account yet? 
                                    <a class="anchor-link" href="/sign-up">Create an account</a>.
                                </p>
                            </div>

                        </form>

                    </div>

                </div>

                <img class="sign_in-img" src="{% static 'shop/images/auth.png' %}" alt="PaperTrail Sign In Banner" />

            </section>

            {% include "./components/footer.html" %}

        </div>

        <script type="module" src="{% static 'shop/scripts/main.js' %}"></script>
    
    </body>

</html>
